div{
  background: yellow;
}

.big{
  font-size: 60px;
}

.big
.inverse {
  color: white;
  background: black;
}

[data-title ="Heading"] {
  background: red;
}

[data-title ="Title"] {
  background: green;
}

[data-title ="Subheading"] {
  color: purple;
  font-size: 100px;
  background: white;
}
